<!-- views/partials/header.ejs -->

This is TinyApp

<form method="POST" action=""
<input type="text" name="username" value="<%=  %>">
<button type="submit">Login</button>
</form>


<!-- <form method="POST" action="/urls/<%= shortURL %>"> -->
