<!-- views/partials/header.ejs -->

This is TinyApp
<br>
<br>
<form method="POST" action="/login/"
<label for="login">Choose a username:</label>
<input type="text" name="username" placeholder="thebestname" style="width: 300px">
<button type="submit">Login</button>
</form>
<br>
<br>
