<!-- views/partials/header.ejs -->
This is TinyApp
<br>
<br>
<% if(username !== undefined) { %>
  <form method="POST" action="/logout"
  <p>Logged in as: <%= username %><br>
    <button type="submit">Logout</button>
  </p>
  </form>
<% } else{ %>
<p>
  <table>
  <tr>
    <form method="GET" action="/register"
      <label for="login">Register with us</label>
      <td><button type="submit">Register</button></td>
  </tr>
  </form>
  </table>
<p>
<p>
  <table>
  <tr>
    <form method="POST" action="/login/"
      <td><label for="login">Choose a username</label></td>
      <td><input type="text" name="username" placeholder="thebestname" style="width: 300px">
      <td><button type="submit">Login</button></td>
    </form>
  </tr>
</table>
<% } %>
</p>
<br>
<br>
