<!-- views/partials/header.ejs -->
This is TinyApp
<br>
<br>

<% if(user) { %>
  <form method="POST" action="/logout"
  <p>Logged in as: <%= user.email %><br>
    <button type="submit">Logout</button>
  </p>
  </form>
<% } else{ %>
<p>
    <form method="GET" action="/register"
    <label for="login">Register with us</label>
    <button type="submit">Register</button>
    </form>
<p>
<p>
    <form method="GET" action="/login/"
    <label for="login">Here to log in</label>
    <button type="submit">Login</button>
    </form>
<% } %>
</p>
<br>
<br>
