<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include ../views/partials/_header.ejs%>
    <form method="POST" action="/login/">
      <div>
        <label style="margin-right: 30px" for="login">Please enter your email</label>
        <input type="email" name="email" placeholder="your@domain.com" style="width: 300px">
      </div>
      <div>
        <label for="login">Please enter your password</label>
        <input type="password" name="password" placeholder="password" style="width: 300px">
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
