<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body style="font-size:20px; padding:50px;">
    <% include ../views/partials/_header.ejs%>
      <form method="POST" action="/login/"
      <table>
        <tr>
          <td><label for="login">Please enter your email</label></td>
          <td><input type="email" name="email" placeholder="your@domain.com" style="width: 300px">
          <br>
          <td><label for="login">Please enter your password</label></td>
          <td><input type="password" name="password" placeholder="password" style="width: 300px">
          <br>
          <td><button type="submit">Login</button></td>
        </tr>
      </table>
      </form>
    </body>
</html>
