<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
</head>
  <body style="font-size:20px; padding:50px;">
    <% include ../views/partials/_header.ejs%>
      <form method="POST" action="/register/"
      <table>
        <tr>
          <td><label for="register">Please enter your email</label></td>
          <td><input type="email" name="email" placeholder="example@youremail.com" style="width: 300px">
          <br>
          <td><label for="register">Please enter a password</label></td>
          <td><input type="password" name="password" placeholder="password" style="width: 300px">
          <br>
          <td><button type="submit">Register</button></td>
        </tr>
      </table>
      </form>
    </body>
</html>



<!-- The email field should use type=email and have name=email.
The password field should use type=password and have name=password. -->
