<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include ../views/partials/_header.ejs%>
    <form method="POST" action="/register/">
      <div>
        <label for="register">Please enter your email</label>
        <input type="email" name="email" placeholder="example@youremail.com" style="width: 300px">
      </div>
      <div>
        <label for="register">Please enter a password</label>
        <input type="password" name="password" placeholder="password" style="width: 300px">
      </div>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
