<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body style="font-size:20px; padding:50px;">
      <% include ../views/partials/_header.ejs%>
      <table>
        <tr>
      <% for(var url in urls ) { %>
          <td><%= `${url}:` %></td>
          <td><%= `${urls[url]}`%></td>
          <td> <a href="/urls/<%= url %>">Edit</</a>
          <form method="POST" action="/urls/<%= url %>/delete">
          <td><button name="Delete url">Delete the URL</button></tabled>
          </form>
          </tr>
      <% } %>
    </table>
      <p>
      <a href="/urls/new">Create a new url</a>

      </p>
    </body>
</html>
