<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
      <% include ../views/partials/_header.ejs%>
      <table>
        <tr>
      <% for(var url in urls ) { %>
          <td><%= `${url}:` %></td>
          <td><%= `${urls[url]}`%></td>
          <td><form method="POST" action="/urls/<%= url %>/delete">
            <button name="Delete url">Delete the URL</button>
          </form></td>
          </tr>
      <% } %>
    </table>
      <p>

      </p>
    </body>
</html>
