<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
      <% include ../views/partials/_header.ejs%>
      <ul>
        <li><%= `Full URL: ${keyURL}`%> <br><br> <%= `Shortened URL: localhost:8080/${shortURL}`%></li>
      </ul>

      <form method="POST" action="/urls/:id>
        <input id="product-id" type="text" name="id" value="<%= shortURL %>">
        <button name="Update Url">Update the URL</button>
    </body>
</html>
