<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1>TinyApp</h1>
  <ul>
    <li><%= `Full URL: ${keyURL}`%> <br><br> <%= `Shortened URL: localhost:8080/${shortURL}`%></li>
  </ul>
</body>
</html>
