<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
      <% include ../views/partials/_header.ejs%>
      <table>
        <tr>
      <% for(var url in urls ) { %>
          <td><%= `${url}:` %></td>
          <td><%= `${urls[url]}`%></td>
          <td><a>  <a href="/urls/<%= url %>">Edit</a></a>
          <form method="POST" action="/urls/<%= url %>/delete">
          <td><button name="Delete url">Delete the URL</button></tabled>
          </form>
          </tr>
      <% } %>
    </table>
      <p>

      </p>
    </body>
</html>
