<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
      <% include ../views/partials/_header.ejs%>
      <ul>
        <li><%= `ShortURL: ${shortURL}`%></li>
      </ul>
      <p>
      <form method="POST" action="/urls/<%= shortURL %>">
          <label for="URL">Update URL</label>
          <input type="text" name="URL" value="<%= keyURL %>">
          <button type="submit">Update</button>
      </form>
        </p>
    </body>
</html>


<!-- <%= `Full URL: ${keyURL}`%> <br><br> -->
