<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
      <% include ../views/partials/_header.ejs%>
      <ul>
        <li><%= `ShortURL: localhost:8080/${shortURL}`%></li>
      </ul>

      <form method="POST" action="/urls/:id>

        <p>
          <label for="URL">Update URL</label>
          <input type="text" name="URL" value="<%= keyURL %>">
          <button type="submit">Update the URL</button>
        </p>
    </body>
</html>


<!-- <%= `Full URL: ${keyURL}`%> <br><br> -->
