<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
      <body style="font-size:20px; padding:50px;">
      <% include ../views/partials/_header.ejs%>
      <ul>
        <li><%= `ShortURL: ${locals.shortURL}`%></li>
      </ul>
      <p>
      <form method="POST" action="/urls/<%= locals.shortURL %>">
          <label for="URL">Update URL</label>
          <input type="text" name="URL" value="<%= locals.keyURL %>">
          <button type="submit">Update</button>
      </form>
        </p>
    </body>
</html>
